.tsv.gz filter=lfs diff=lfs merge=lfs -text
.csv.gz filter=lfs diff=lfs merge=lfs -text
.tsv filter=lfs diff=lfs merge=lfs -text
.csv filter=lfs diff=lfs merge=lfs -text
efaar_benchmarking/expression_data/HeLa_expression.csv filter=lfs diff=lfs merge=lfs -text
efaar_benchmarking/expression_data/U2OS_expression.csv filter=lfs diff=lfs merge=lfs -text
notebooks/data/JUMP_aggr_CP-PCA128-TVN_map.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/data/PERISCOPE_aggr_CP-PCA128-TVN_map.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/data/GWPS_aggr_scVI128-TVN_map.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/data/JUMP_pre_agg_metadata.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/data/PERISCOPE_pre_agg_metadata.pkl filter=lfs diff=lfs merge=lfs -text
